<div class="container">
  <div class="jumbotron">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <!-- image size 5000: 2500  -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../../assets/car.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Volkwagen, Legend of legend</h3>
            <p>Carousels require the use of an id on the
              outermost container</p>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/time.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Time is Money, It never stop</h3>
            <p>Carousels require the use of an id on the
              outermost container</p>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/city.jpg" alt="...">
          <div class="carousel-caption">
            <h3>Concrete Jungle, New York City</h3>
            <p>Carousels require the use of an id on the
              outermost container</p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="container">
    <div class="col-sm-3 about-left">
        <div class="about-image img-circle"></div>
        <p>Fnatic</p>
    </div>
    <div class="col-sm-8 col-sm-offset-1 about-right container">
      <h3>About FICTS</h3>
      <br>
      <p>
        12 in 12 Challenge
        I challenged myself to truly learn Ruby on Rails by building 12 web apps in 12 weeks.
        Each week I recorded a screencast to show you how I built each app.
      </p>
    </div>
</div>

<div class="container">
  <div class="what-we-do">
    <h1>What We Do</h1>
  </div>


  <div class="team-do-box">
    <div class="table">
      <ul class="">
        <li>
          <div class="about-image img-circle"></div>
          <p>Spread Important Information</p>
        </li>
        <li>
          <div class="about-image img-circle"></div>
          <p>Create Event</p>
        </li>
        <li>
          <div class="about-image img-circle"></div>
          <p>Sport day</p>
        </li>
        <li>
          <div class="about-image img-circle"></div>
          <p>SAF</p>
        </li>
        <li>
          <div class="about-image img-circle"></div>
          <p>Organize Course Event and also teach people programming</p>
        </li>
        <li>
          <div class="about-image img-circle"></div>
          <p>Report FTMK News on FICTS Official Facebook page and social media, e.g. Twitter and Instagram</p>
        </li>
        <li>
          <div class="about-image img-circle"></div>
          <p>Solve FTMK STudent Issue</p>
        </li>
      </ul>
    </div>

    <div class="team-do-event">
      <a href="#" class="mybtn">Check Out More About Our Event</a>
    </div>
  </div>
</div>
