<!DOCTYPE html>
<html>
<head>
  <title>MyHiTeaTech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "left-div sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
            </a>
        </li>
        <li>
            <a href="#">News</a>
        </li>
        <li>
            <a href="#">Event</a>
        </li>
        <li>
            <a href="#">FICTS TV</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
    </ul>
  </div>
  <div class = "right-div content">
    <div class="universal-navbar">
      <div class="container">
        <div class="universal-left">
          <a href="#menu-toggle" class="btn hvr-pulse" id="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </a>
        </div>
        <div class="universal-center">
          <h3>FICTS</h3>
        </div>
      </div>

    </div>
    <%= yield %>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    $(function() {
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $(".left-div").toggleClass("toggled");
          $(".right-div").toggleClass("toggled2");
      });
    });
  </script>
</body>
</html>
